@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}

.container {
  margin: 25px 150px;
  padding: 30px 30px 10px 30px;
  border-radius: 30px;
  width: 350px;
  background-color: rgb(27, 27, 27);
  border: #00ddff 2px solid;
}

.box {
  display: flex;
  background-image: url(./images/cc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elements {
  flex: 1;
  width: 50%;
}



.heading {
  padding-top: 200px;
  padding-right: 500px;
}

.heads {
  font-size: 5rem;
  padding-left: 200px;
  color: white;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #353535;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #c41b1b;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  margin: 30px 0 30px;
  padding: 20px;
  width: 100%;
}

.hr {
  margin-top: 50px;
  width: 50px;
  height: 7px;
  border-radius: 30px;
  background: linear-gradient(to right, #00d9ff, #ffffff);
  border: none;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}